<div class="container">
  <h1 class="mb-2">Task N2</h1>
  <table class="table table-borderless">
    <tbody>
      <tr>
        <td class="col-md-2">
          <h6 class="pt-1">Sort by Name:</h6>
        </td>
        <td class="col-md-10">
          <select class="custom-select custom-select-md" (change)="onChange($event)" title="name">
            <option title="name" value="true">Ascending</option>
            <option title="name" value="">Descending</option>
          </select></td>
      </tr>
      <tr>
        <td class="col-md-2">
          <h6 class="pt-1">Sort by Alcohol:</h6>
        </td>
        <td class="col-md-10">
          <select class="custom-select custom-select-md" (change)="onChange($event)" title="alcohol">
            <option value="true">Ascending</option>
            <option value="">Descending</option>
          </select></td>
      </tr>
    </tbody>
  </table>
  <ul class="list-group card">
    <li class="list-group-item" *ngFor="let beer of beers | orderBy:order:ascDsc">
      <h5 class="card-title"><b>Name: </b>{{beer.name}}</h5>
      <p class="card-text"><b>Description: </b>{{beer.description}}</p>
      <p class="card-text"><b>Alcohol: </b>{{beer.alcohol}} %</p>
      <img src="../assets/beers/beers/{{ beer.id }}.jpg" class="img-thumbnail" width="200" height="200">
    </li>
  </ul>

</div>

<!-- <router-outlet></router-outlet> -->
